.BASKET-ALL {
    color: white;
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    width: 100%;
    margin-left: -5%;
    margin-top: -15%;
    position: fixed;
}
.BASKET-TITLE {
    text-align: right;
}
.BASKET-ALL h2 {
    font-size: 0.9em;
}
.BASKET-ALL p {
    color: white;
    font-size: 0.9em;
}
.BASKET-CONTENT {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.BASKET-CONTENT img {
    width: 300px;
}
.BASKET {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 45px;
}

.BASKET div {
    width: 100px;
}
.BASKET img {
    width: 150px;
}


@media only screen and (max-width: 425px) {
    .BASKET-ALL {
        color: white;
        height: 300px;
        display: flex;
        justify-content: start;
        align-items: end;
        flex-direction: column;
        width: 100vw;
        /* padding-right : 20px */
        margin-left: -5%;
        margin-top: -48px;
    }
  }
  