.prevCard {
    left: 0;
  }
  
  .activeCard {
    left: 50%;
    transform: translateX(-50%); 
  }
  
  .nextCard {
    right: 0;
  }
  .card-container {
    position: relative;
  
    width: 36rem;
    height: 22rem;
  }