.App {
  width: 100vw;
  background-color: rgb(0, 0, 0);
}

.SHOP-ALL {
  color: darkgrey;
  display: flex;
  flex-direction: column;
}

.TITLE {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;  
}

.BTN-OPEN {
  
}