.App {
  width: 100vw;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
}

.SHOP-ALL {
  color: darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.TITLE {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto; 
  margin-top: -2%;
  padding-bottom: 5%; 
}

.BTN-OPEN {
  width: 70px;
}
.BTN-CLOSE {
  width: 70px;
  margin-bottom: 5%;
}

.MODAL-BG {
  /* background-image: url(./assets/BG.JPG); */
  width: 60%;
  height: fit-content;
  color: white;
  padding: 25px;
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.MODAL-CONTENT {
  max-height: 80vh; 
  overflow-y: auto; 
  display: flex;
  justify-content: center;
  flex-direction: column;
}
