body {
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding-bottom: 20%;
}

#root {
    width: 100%;
    overflow-x: hidden;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.856) !important;
}
